extends ../shared/template

block content
  h1.bannertwo Songs
  a.newbutt.button.button-rounded(href='/songs/new') New Song
  table
    thead
      th Play
      th
        a.songlink(href='#') Song Name
      th
        a.songlink(href='#') Genre
      th
        a.songlink(href='#') Album
      th
        a.songlink(href='#') Artist
    tbody
      each song in songs
        tr
          td: audio(src='/audios/#{song.name}/#{song.song}', type='audio/mp3', controls=true)
          td= song.name
          td= song.genre
          td= song.albumID
          td= song.artistID
