extends ../shared/template

block content
  h1.bannertwo Songs
  a.newbutt.button.button-rounded(href='/songs/new') New Song
  table
    thead
      th Play
      th
        a.songlink(href='#') Song Name
      th
        a.songlink(href='#') Genre
        //- a.songlink(href='/songs/sort/genre') Genre
      th
        a.songlink(href='#') Album
        //- a.songlink(href='/songs/sort/albumId') Album
      th
        a.songlink(href='#') Artist
        //- a.songlink(href='/songs/sort/artistId') Artist
    tbody
      each song in songs
        tr
          td: audio(src='/audios/#{song.name}/#{song.song}', type='audio/mp3', controls=true)
          td= song.name
          td= song.genre
          td= song.album.name
          td= song.artist.name
